!!! 5
%html
  %head
    %title Print Mijn Paper .nl

    /[if lt IE 8]
      %link{ :type => 'text/css', :rel => 'stylesheet', :href => 'css/ie.css', :media => 'screen, projection' }
    %link{ :type => 'text/css', :rel => 'stylesheet', :href => 'css/main.css' }
    %link{ :type => 'text/css', :rel => 'stylesheet', :href => 'js/uploadify/uploadify.css' }
    %link{ :type => 'text/css', :rel => 'stylesheet', :href => 'http://fonts.googleapis.com/css?family=Puritan&v1' }
    
    %script{ :type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js' }
    %script{ :type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js' }
    %script{ :type => 'text/javascript', :src => 'js/uploadify/jquery.uploadify.v2.1.4.min.js' }
    %script{ :type => 'text/javascript', :src => 'js/main.js' }
    
    /= refresh
    
  %body
    #wrapper
      = yield